#Ignored Files
*.zip
Compiled_EXE
Documentation
Loader
Misc
Old
Patchers
Plugins
UI
Utility/7zip
Utility/DLL
Utility/CMI Helper DLL/packages
Utility/CMI Helper DLL/obj
Utility/CMI Helper DLL/*
!Utility/CMI Helper DLL/**.cs
*.docx