#Ignored Files
Compiled_EXE/
Installer Files/Documentation/
Installer Files/UI/
Installer Files/CR Components/Loader/
Installer Files/CR Components/Patchers/
Installer Files/CR Components/Plugins/
Installer Files/Components/
Old