<link rel="icon" type="image/x-icon" href="/favicon.ico">

<script type="text/javascript">
    
function getReleaseTag(){
    
    var xmlHttp = new XMLHttpRequest();
    
    xmlHttp.onreadystatechange = function() 
    {
        if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
        {
            var r=JSON.parse(xmlHttp.responseText);
            return(r.tag_name);
        }
    };
    
    xmlHttp.open("GET", "https://api.github.com/repos/krypto5863/COM-Modular-Installer/releases/latest", false);
    xmlHttp.send(null);
    
}
    
</script>
