<link rel="icon" type="image/x-icon" href="/favicon.ico">

<script type="module">
import { Octokit } from "https://cdn.skypack.dev/@octokit/core";
</script>

<script type="text/javascript">
 function fetchRelease(){
    const response = await octokit.request('GET https://api.github.com/repos/krypto5863/COM-Modular-Installer/releases/latest')
    
    return response.name
 } 
  
 function requestUserRepos(){
    
    // Create new XMLHttpRequest object
    const xhr = new XMLHttpRequest();
    
    // GitHub endpoint, dynamically passing in specified username
    const url = `https://api.github.com/repos/krypto5863/COM-Modular-Installer/releases/latest`;
    
    // Open a new connection, using a GET request via URL endpoint
    // Providing 3 arguments (GET/POST, The URL, Async True/False)
    xhr.open('GET', url, true);
    
    // When request is received
    // Process it here
    xhr.onload = function() {
    
        // Parse API data into JSON
        const data = JSON.parse(this.response);

          // Log the repo name
            console.log('Repo:', data.name);
            
            // Log the repo description
            console.log('Description:', data.description);
            
            // Log the repo url
            console.log('URL:', data.html_url);
            
            // Add a separator between each repo
            console.log('=========================')

    }
    
    // Send the request to the server
    xhr.send();
    
}
  
</script>
