<link rel="icon" type="image/x-icon" href="/favicon.ico">

<script type="text/javascript">
    
async function getTag() {
    let result = await userAction();
    return result.tag_name;
}
    
async function getURL() {
    let result = await userAction();
    return result.assets[0].browser_download_url;
}

async function GetDownload() {
    let result = await userAction();
    location.href = result.assets[0].browser_download_url;
}
    
async function fetchNotes(){
    const contentDiv = document.getElementById("changelog");
    let result = await userAction();
    contentDiv.innerHTML = result.body.replace(new RegExp('\r?\n','g'), '<br />');;
}

const userAction = async () => {
  const response = await fetch('https://api.github.com/repos/krypto5863/COM-Modular-Installer/releases/latest');
  const myJson = await response.json();
  
  return myJson;
}
    
</script>
